body {
	background: rgb(36, 36, 36);
	font-family: "Times New Roman";
}

.navbar {
	height: 25px;
	display: flex;
	justify-content: right;
}

a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
	font-family: "Times New Roman";
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

#logo, #logoimage {
	display: block;
	margin: auto;
	margin-top: 100px;
}

#logoimage {
	height: 92px;
	width: 272px;
}
#lupa {
	margin: 10px;
}
.searchfield {
	display: block;
	align-items: center;			
}

.quaryform {	
	display: flex;
	max-width: 540px;
	min-width: 300px;
	background: rgb(36, 36, 36);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	height: 40px;
	border: 1px solid rgb(99, 99, 99);
	border-radius: 19px;	
}

.quary {
	display: flex;
	width: 100%;
	background: rgb(36, 36, 36);
	caret-color: white;
	font-family: "Times New Roman";
	font-size: 22px;
	color: white;
	margin-right: 10px;
	outline: none;
	border: none;
	border-radius: 10px;
}

.quaryform:hover, .quaryform:focus-within, .buttons > input:hover, .rows > input:hover, .rows > input:focus {
	box-shadow: rgb(20 20 20) 0px 0px 8px 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgb(50, 50, 50);
}

.quaryform:hover > .quary, .quary:focus {
    background: rgb(50, 50, 50);
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons > input {
	height: 36px;
	width: 140px;
	background: rgb(50, 50, 50);
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	color: white;
	border: 1px solid rgb(99, 99, 99);
	border-radius: 5px;
	cursor: pointer;
	margin: 0px 10px;	
}

.border {
	font-size: 22px;
	color: whitesmoke;
	height: 50px;
	padding-left: 50px;
	padding-top: 35px;
	border-bottom: 1px solid rgb(99, 99, 99);
}

.mainform {
	display: block;
	padding-left: 50px;
	padding-top: 30px;
}

.form {
	display: block;
}

label {
	color: whitesmoke;
}

.mainlabel {
	font-size: 20px;
}

.rows {
	display: flex;
	align-items: center;
	font-size: 16px;
	height: 50px;
	gap: 20px;
}

.lb1 {
	display: block;
	width: 170px;
	min-width: 170px;
}

.lb2 {
	display: block;
	width: 500px;
	min-width: 200px;
}

.lb3 {
	display: block;
	width: 499px;
	min-width: 260px;
	display: inline-block;
  	vertical-align: middle;
}

p {
	margin: auto 0;
}

.rows > input {
	height: 32px;
	background: rgb(36, 36, 36);
	border: 1px solid rgb(99, 99, 99);
	border-radius: 5px;
	caret-color: whitesmoke;
	font-family: "Times New Roman";
	font-size: 18px;
	color: whitesmoke;
	padding-left: 5px;
	outline: none;
	box-sizing: border-box;
	padding-right: 5px;
}

#lb2b {
	text-align: right;
}

#abvsearch {
	background: rgb(21, 44, 82);
	height: 35px;
	width: 150px;
	font-size: 15px;
	border: 1px solid rgb(99, 99, 99);
	border-radius: 5px;
	color: whitesmoke;
	margin-top: 8px;
}

#abvsearch:hover {
	background: darkgreen;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-font-size: 22px;
	-webkit-box-shadow: 0 0 0px 1000px rgb(50, 50, 50) inset;
	transition: background-color 600000s 0s, color 600000s 0s;
}
input:-webkit-autofill {
	-webkit-text-fill-color: white;
	-webkit-box-shadow: 0 0 0px 1000px rgb(36, 36, 36) inset;
}

@media (max-width: 753px) {
	#todo {
		display: none;
	}
	#mainrow {
		height: 30px;
	}
	#abvsearch {
		margin-top: 8px;
	}
	.mainform {
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 30px;
	}
	.rows {
		flex-wrap: wrap;
		height: 82px;
		flex-direction: column;
		align-items: start;
		justify-content: flex-start;
		gap: 3px;
	}
	.lb2, .lb3 {
		display: flex;
		width: 100%;
		max-width: 500px;
		margin-right: 0;	
	}	
	.lb3 {
		height: 18px;
	}
	#lb2b {
	justify-content: flex-end;
	}
}
@media only screen and (max-width: 446px) {
	#thirdrow {
		height: 95px;
	}
	#abvsearch {
		margin-top: 12px;
	}
}
@media only screen and (max-width: 316px) {
	#firstrow {
		height: 95px;
	}
}

.quary::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background-image: url("img/closebutton.png");
  background-position: center;
  background-size: cover;
  margin-left: 5px;
}

.lb2::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  background-image: url("img/closebutton.png");
  background-position: center;
  background-size: cover;
  margin-left: 5px;
}